{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center >
   <h1 class="text-white mt-3 "></h1>
<h3 class="text-white mt-3 display-3 fw-bold"">Introduction</h3>
   <h5 class="mt-3">Info About Project, General User and Admin</h5>
</div>

<div class="container mt-5 text-center ">
   <div class="row">

  <div class="col-sm-4 about">
      <div class="card text-light bg-dark " style="width: 18rem;">
          <div class="card-header">
            <h4>User</h4>
        </div>
        <div class="card-body text-light bg-dark">
            <h5 class="card-title fst-italic">Details about General User</h5>
            <ul class="list-group list-group-flush ">
             <li class="list-group-item text-light bg-dark">General user can signup, login and logout  </li>
             <li class="list-group-item text-light bg-dark">After signup and login user can post blog</li>
             <li class="list-group-item text-light bg-dark">A user can edit a blog but cannot delete it(admin can)</li>
            </ul>
        </div>
      </div>
  </div>

  <div class="col-sm-4 about  featured">
      <div class="card text-light bg-dark" style="width: 18rem;">
          <div class="card-header">
                <h4 >Project</h4>
          </div>
          <div class="card-body ">
            <h5 class="card-title fst-italic">Details about Project</h5>
            <ul class="list-group list-group-flush ">
             <li class="list-group-item text-light bg-dark">This project is made with Djange Web Framework </li>
             <li class="list-group-item text-light bg-dark">It also  makes use of HTML, CSS and Bootstrap and basic Javascript</li>
             <li class="list-group-item text-light bg-dark">SQLite is used as a datebase </li>
            </ul>
          </div>
      </div>
    </div>


  <div class="col-sm-4 about">

     <div class="card text-light bg-dark" style="width: 18rem;">
        <div class="card-header">
            <h4>Admin</h4>
        </div>
        <div class="card-body text-light bg-dark">
            <h5 class="card-title fst-italic">Details about Admin</h5>
            <ul class="list-group list-group-flush ">
             <li class="list-group-item text-light bg-dark">Admin can singup, login and logout</li>
             <li class="list-group-item text-light bg-dark">Admin can also post blog after login</li>
             <li class="list-group-item text-light bg-dark">He can edit the blogs and also delete them</li>
            </ul>
        </div>
     </div>
  </div>
</div>
</div>

<style>
.about:hover{
    transform: scale(1.1);
    z-index: 1;
    }

.featured{
margin:0;

}
.featured ul{
padding:0 0 50px 0;
}
</style>

{% endblock content %}